.header {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.title {
  font-size: 4em;
  font-weight: 900;
  background: -webkit-linear-gradient(40deg, blue, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
