.task {
  margin-top: 1rem;
  background-color: var(--gray-500);
  padding: 0.3rem 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  border: 1px solid var(--gray-400);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.task input {
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--blue);
  border-radius: 50%;
  cursor: pointer;
}

.task input:checked {
  background: var(--purple);
  border: none;
}

.task label {
  cursor: pointer;
}

.task label:checked {
  color: red;
}
