.taskForm {
  width: 75vw;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskForm textarea {
  background-color: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  resize: none;
  padding: 0.3rem;
  width: 75%;
  color: var(--gray-300);
}

.taskForm button {
  padding: 1rem 1rem;
  border-radius: 8px;
  border: 0;
  background: var(--dark-blue);
  color: var(--white);
  font-weight: 700;
  font-size: 0.875rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 0.3rem;

  transition: background-color 0.1s;
}
